In [1]:
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup

In [3]:
source = rq.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [4]:
BFS = BeautifulSoup(source, 'xml')
BFS_tab = BFS.find('table')
columns = ['Postalcode' ,'Borough' ,'Neighborhood']
df = pd.DataFrame(columns=columns)

In [5]:
for x in BFS_tab.find_all('tr'):
    list_yip=[]
    for k in x.find_all('td'):
        list_yip.append(k.text.strip())
    if len(list_yip)==3:
        df.loc[len(df)] = list_yip

In [6]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
df_new=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
df_new=df_new.reset_index(drop=False)
df_new.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [8]:
df = df.merge(df_new, how='left', on='Postalcode')

In [9]:
df.drop(['Neighborhood'],axis=1,inplace=True)

In [11]:
df = df.rename(columns={'Neighborhood_joined':'Neighborhood'})

In [12]:
df = df.rename(columns={'Neighborhood_joined':'Neighborhood'})

In [15]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
df.shape

(180, 3)